body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

label.magic-hidden{
    visibility: hidden;
}

.menu ul {
  margin: 0;
  padding: 0;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  color: #0E297F;
  margin-right: 5px;
  padding-right: 15px;
  text-decoration: none;
}


.content {
  margin: 20px auto;
  width: 100%;
}
.content .header {
  display: table;
  margin: 10px auto;
  width: 100%;
}
.content .content_body {
  width: 100%;
}
.content .header .title,
.content .header .filter {
  display: table-cell;
  vertical-align: bottom;
  width: 50%;
}
.content .header .filter {
  text-align: right;
}
.content .header .filter .content_filter {
  display: inline-block;
  text-align: left;
  width: 200px;
}

.content_body form {
  margin-bottom: 20px;
}
.content_body form fieldset .form-group:first-child label {
  text-align: left;
  width: 85px;
}
.content_body form fieldset div:last-child,
.content_body form fieldset div:last-child a {
  padding-left: 0;
  text-align: left;
}

.buttons a:first-child {
  margin-right: 20px;
}

.form-horizontal .form-group {
  margin-left: auto;
  margin-right: auto;
}

.glyphicon-remove {
  color: #c60009;
}