<div class="content">
    <div class="header">
        <div class="title">
            <h2>Edit Product</h2>
        </div>
    </div>
    <div class="content_body">

        <form name="form" novalidate class="form-horizontal user-register-form">
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : validateField(form.category) }">
                    <label class="col-md-2 control-label" for="category">Category</label>
                    <div class="col-md-8">
                        <select id="category" name="category" class="form-control"  
                                ng-model="product.category_id" 
                                ng-options="c.id as c.name for c in categories" 
                                required>
                        </select>
                    </div>
                </div>
                
                <div class="form-group visible-md visible-lg">
                    <div class="col-md-2">
                        Language
                    </div>
                    <div class="col-md-3">
                        Name
                    </div>
                    <div class="col-md-6">
                        Description
                    </div>
                    <div class="col-md-1">
                        
                    </div>
                </div>
                <div class="form-group" ng-repeat="i in product.info">
                    <ng-form name="innerForm">
                        <div class="col-md-2"  ng-class="{ 'has-error' : validateField(innerForm.language) }">
                            <select name="language" class="form-control"  
                                    ng-model="i.language_id" 
                                    ng-options="l.id as l.name for l in languages" 
                                    required>
                            </select>
                        </div>
                        <div class="col-md-3"  ng-class="{ 'has-error' : validateField(innerForm.title) }">
                            <input ng-model="i.title" name="title" type="text" placeholder="Title" class="form-control input" required="">         
                            <span ng-show="validateField(innerForm.title)">Required</span>
                        </div>
                        <div class="col-md-6"  ng-class="{ 'has-error' : validateField(innerForm.description) }">
                            <textarea ng-model="i.description" name="description" type="text" placeholder="Description" class="form-control input" required="" rows="3"></textarea>         
                            <span ng-show="validateField(innerForm.description)">Required</span>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-link" aria-label="Left Align" ng-click="removeProductInfo($index)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                            </button>
                        </div>
                    </ng-form>
                </div>

                <div class="col-md-3 control-label"><a class="btn btn-link" ng-click="addProductInfo()" >Add Language</a></div>

            </fieldset>
        </form>

        <p class="buttons">                
            <a class="btn btn-success" ng-click="save()" ng-disabled="form.$invalid">Save</a>
            <a class="btn btn-danger" href="#/">Back</a>
        </p>
    </div>
</div>