<div class="content">
    <div class="header">
        <div class="title">
            <h2>Edit Language</h2>
        </div>
    </div>
    <div class="content_body">

        <form name="form" novalidate class="form-horizontal user-register-form">
            <fieldset>
                <div class="form-group">
                    <ng-form name="innerForm">
                        
                        <div class="col-md-3"  ng-class="{ 'has-error' : validateField(innerForm.name) }">
                            <label for="name">Name</label>
                            <input ng-model="language.name" id="name" name="name" type="text" placeholder="Name" class="form-control input" required="">         
                            <span ng-show="validateField(innerForm.name)">Required</span>
                        </div>

                    </ng-form>
                </div>
            </fieldset>
        </form>

        <p class="buttons">                
            <a class="btn btn-success" ng-click="save()" ng-disabled="form.$invalid">Save</a>
            <a class="btn btn-danger" href="#/languages">Back</a>
        </p>
    </div>
</div>