<div class="content">
    <div class="header">
        <div class="title">
            <h1>List of Categories</h1>
        </div>
        <div class="filter">
        </div>
    </div>
    <div class="content_body">
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>                       
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="categories.data.length < 1">
                    <td colspan="4"> No found categories </td>
                </tr>
                <tr ng-repeat="category in categories.data">
                    <td>{{category.name}}</td>
                    <td>
                        <a class="btn btn-link" aria-label="Left Align" href="#/categories/edit/{{category.id}}" title="Edit">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" style="color: #31708f"></span>
                        </a>
                        <button type="button" class="btn btn-link" aria-label="Left Align" ng-click="removeCategory(category)" title="Remove">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                        </button>                            
                    </td>
                </tr>
            </tbody>
        </table>

        <p><a class="btn btn-success pull-right" href="#/categories/create" >Add Category</a></p>
    </div>
</div>