<div class="content">
    <div class="header">
        <div class="title">
            <h1>List of Products</h1>
        </div>
        <div class="filter">
            <div class="content_filter">
                <label for="category">Category:</label> 
                <select id="category" name="category" class="form-control"
                        ng-model="categories.selected" 
                        ng-options="c.id as c.name for c in categories" 
                        ng-change="getProducts()">
                    <option value="">All</option>
                </select>
            </div>
        </div>
    </div>
    <div class="content_body">
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>                        
                    <th>Title</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="products.data.length < 1">
                    <td colspan="4">No found products</td>
                </tr>
                <tr ng-repeat="product in products.data">
                    <td>{{product.category_name}}</td>
                    <td>
                        <span ng-repeat="productInfo in product.info">
                            <b ng-show="productInfo.title">{{productInfo.language_name}}: </b> {{productInfo.title}}<br>
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="productInfo in product.info">
                            <b ng-show="productInfo.description">{{productInfo.language_name}}: </b> {{productInfo.description}} <br>
                        </span>
                    </td>
                    <td>
                        <a class="btn btn-link" aria-label="Left Align" href="#/products/edit/{{product.id}}" title="Edit">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" style="color: #31708f"></span>
                        </a>
                        <button type="button" class="btn btn-link" aria-label="Left Align" ng-click="removeProduct(product)" title="Remove">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                        </button>                            
                    </td>
                </tr>
            </tbody>
        </table>

        <p><a class="btn btn-success pull-right" href="#/products/create" >Add Product</a></p>
    </div>
</div>
