<div class="content">
    <div class="header">
        <div class="title">
            <h1>List of Languages</h1>
        </div>
        <div class="filter">
        </div>
    </div>
    <div class="content_body">
        <table class="table">
            <thead>
                <tr>
                    <th>Language</th>                       
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="languages.data.length < 1">
                    <td colspan="4"> No found languages </td>
                </tr>
                <tr ng-repeat="language in languages.data">
                    <td>{{language.name}}</td>
                    <td>
                        <a class="btn btn-link" aria-label="Left Align" href="#/languages/edit/{{language.id}}" title="Edit">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" style="color: #31708f"></span>
                        </a>
                        <button type="button" class="btn btn-link" aria-label="Left Align" ng-click="removeLanguage(language)" title="Remove">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                        </button>                            
                    </td>
                </tr>
            </tbody>
        </table>

        <p><a class="btn btn-success pull-right" href="#/languages/create" >Add Language</a></p>
    </div>
</div>