<?php
echo $this->inlineScript()->appendFile('js/message-center.js');
echo $this->inlineScript()->appendFile('js/takumApp/takum.module.js');
echo $this->inlineScript()->appendFile('js/takumApp/controllers/list_product.controller.js');
echo $this->inlineScript()->appendFile('js/takumApp/controllers/list_category.controller.js');
echo $this->inlineScript()->appendFile('js/takumApp/controllers/list_language.controller.js');
echo $this->inlineScript()->appendFile('js/takumApp/controllers/create_product.controller.js');
echo $this->inlineScript()->appendFile('js/takumApp/controllers/create_category.controller.js');
echo $this->inlineScript()->appendFile('js/takumApp/controllers/create_language.controller.js');
echo $this->inlineScript()->appendFile('js/takumApp/controllers/edit_product.controller.js');
echo $this->inlineScript()->appendFile('js/takumApp/controllers/edit_category.controller.js');
echo $this->inlineScript()->appendFile('js/takumApp/controllers/edit_language.controller.js');
echo $this->inlineScript()->appendFile('js/takumApp/services/language.service.js');
echo $this->inlineScript()->appendFile('js/takumApp/services/category.service.js');
echo $this->inlineScript()->appendFile('js/takumApp/services/product.service.js');
?>
<div ng-app="takum">
    <mc-messages></mc-messages>
    <div class="row"  ng-view="">

    </div>
</div>
